@media (min-width: 1600px) and (max-width: 1800px) {

    /* HOME PAGE START */
    .category_img {
        height: auto;
    }

    .category_img p {
        padding: 40px;
    }

    .add_banner_item {
        height: 750px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .single_testimonial .text {
        width: 100%;
    }

    .imei_img {
        height: 675px;
    }

    .founder_testimonial_img {
        height: 670px;
    }

    /* HOME PAGE END */


    /* HOME PAGE START */

    .about_top_banner {
        height: 400px;
    }

    .about_us_item_img {
        height: 450px;
    }

    /* HOME PAGE END */





    /* PRODUCT START */

    .single_product_img {
        height: auto;
    }

    /* PRODUCT END */

    .category_page_item .img {
        height: auto;
    }

    .category_product .single_product_img {
        height: auto;
    }





















    /* COMMON START */
    /* COMMON END */

}



@media (min-width: 1400px) and (max-width: 1599.99px) {

    /* HOME PAGE START */
    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 15px;
    }

    .category_img {
        height: auto;
    }

    .category_img p {
        padding: 35px;
    }

    .section_heading {
        font-size: 54px;
    }

    .categories_text {
        padding-right: 30px;
    }

    .add_banner_item {
        height: 655px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .single_product_small .text a {
        font-size: 14px;
    }

    .single_product_banner_text p {
        padding-left: 0;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .single_testimonial .text {
        width: auto;
    }

    .imei_img {
        height: 590px;
    }

    .founder_testimonial_img {
        height: 590px;
    }

    .footer_logo_area ul li a,
    .footer_logo_area ul li p {
        max-width: 90%;
    }

    /* HOME PAGE END */


    /* HOME PAGE START */

    .about_top_banner {
        height: 400px;
    }

    .about_us_item_img {
        height: 480px;
    }

    /* HOME PAGE END */




    /* CATEGORY START */

    .category_page_item {
        width: 100%;
    }

    .category_page_item .img {
        height: auto;
    }

    .category_product .single_product_img {
        height: auto;
    }

    .single_product_text .title {
        font-size: 15px;
    }

    /* CATEGORY END */

    /* PRODUCT START */
    .single_product_img {
        height: auto;
    }

    /* PRODUCT END */

    /* PRODUCT DETAILS START */
    .product_details_content .details_heading {
        font-size: 28px;
    }

    .details_price .details_countdown {
        margin-top: 20px;
    }

    .product_details_thumb {
        height: 450px;
    }

    .details_img {
        height: 500px;
    }

    .related_product .single_product_img {
        height: 260px;
    }

    /* PRODUCT DETAILS END */

    .banner {
        height: auto;
    }

    .main_menu .navbar-brand {
        width: 150px;
    }

    .mega_menu_list ul li a,
    .main_menu .navbar-nav .nav-item .droap_menu li a {
        font-size: 12px;
    }

    .mega_menu_list ul {
        line-height: 30px;
    }







    /* COMMON START */
    /* COMMON END */


}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* HOME PAGE START */

    .main_menu {
        padding: 0 25px;
    }

    .main_menu .navbar-brand {
        width: 130px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 10px;
        font-size: 14px;
    }

    .category_img {
        height: auto;
    }

    .categories_text {
        padding-right: 20px;
    }

    .section_heading {
        font-size: 56px;
    }

    .add_banner_item {
        height: 560px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .single_product_banner_text {
        padding-right: 20px;
        padding-left: 30px;
    }

    .single_product_banner_text p {
        padding-left: 70px;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .imei_img {
        height: 500px;
    }

    .founder_testimonial_img {
        height: 500px;
    }

    .footer_link ul li a {
        font-size: 14px;
    }

    .footer_logo_area ul li a,
    .footer_logo_area ul li p {
        font-size: 14px;
        max-width: 100%;
    }

    .payment_logo {
        margin-top: 10px;
    }

    .categories_text p {
        font-size: 20px;
    }

    /* HOME PAGE END */


    /* ABOUT PAGR START */

    .about_top_banner {
        height: 330px;
    }

    .about_us_item_img {
        height: 400px;
    }

    .about_us_item_exparience {
        margin-top: 0;
    }

    /* ABOUT PAGR END */


    /* TEAM START */

    .team_banner_img {
        height: 350px;
    }

    .team_founders_img {
        height: 450px;
    }

    .team_founders_text {
        padding: 70px 40px;
    }

    .team_employe .img {
        height: 210px;
    }

    /* TEAM END */



    /* FAQ START */

    .faq_accordion .accordion-button::after {
        left: -1056px;
    }

    .faq_accordion .accordion-button {
        padding: 11px 12px 11px 60px;
    }

    .faq_accordion .accordion-body {
        padding: 23px 25px 32px 60px;
    }

    /* FAQ END */


    /* BLOG START */

    .single_blog {
        padding: 15px;
    }

    .single_blog_img {
        height: 240px;
    }

    /* BLOG END */



    /* CONTACT START */

    .contact_text {
        padding: 15px 20px 20px 20px;
    }

    .contact_address {
        padding: 15px 20px 20px 20px;
    }

    .contact_address_map {
        height: 380px;
    }

    /* CONTACT END */


    /* CHECKOUT START */

    .checkout_info {
        padding: 15px 20px 20px 20px;
    }


    .checkout_order_summery {
        padding: 15px 20px 20px 20px;
    }

    /* CHECKOUT END */


    /* TEAM DETAILS START */

    .team_details_img {
        height: 500px;
    }

    /* TEAM DETAILS END */



    /* BLOG DETAILS START */

    .blog_details_img {
        height: 350px;
    }

    .blog_details_text .details_center_img {
        height: 260px;
    }

    .single_blog_det_review .text {
        width: 85%;
    }

    .single_blog_det_review.reply .text {
        width: 84%;
    }

    .sidebar_post ul li .text {
        width: 65%;
    }

    /* BLOG DETAILS END */



    /* BE_FRANTHISE START */

    .be_franthise_item p {
        font-size: 13px;
    }

    /* BE_FRANTHISE END */


    /* CATEGORY START */

    .category_page_item {
        width: 100%;
    }

    .category_page_item .img {
        height: auto;
    }

    .category_product .single_product_img {
        height: auto;
    }

    /* CATEGORY END */

    /* PRODUCT START */
    .single_product_img {
        height: auto;
    }

    /* PRODUCT END */

    /* PRODUCT DETAILS START */
    .product_details_thumb {
        height: 370px;
    }

    .product_details_small {
        height: 65px;
    }

    .product_details_content .details_heading {
        font-size: 22px;
    }

    .details_price .details_countdown {
        margin-top: 20px;
    }

    .details_payment .details_payment_item {
        height: 35px;
    }

    .details_btn_area li {
        width: 100%;
    }


    .details_img {
        height: 400px;
    }

    .related_product .single_product_img {
        height: 220px;
    }


    /* PRODUCT DETAILS END */




    /* DASHBOARD START */

    .order_tracking_line {
        justify-content: start;

    }

    .order_tracking_line li {
        width: 125px;
    }

    .order_tracking_line li::after {
        left: -48px;
        width: 95px;
    }


    .order_product_details_left .img_text {
        width: 70%;
    }

    /* DASHBOARD END */

    .category_img p {
        padding: 20px;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .banner {
        height: auto;
    }

    .banner #my_video {
        height: auto;
    }

    .mega_menu_list ul li a,
    .main_menu .navbar-nav .nav-item .droap_menu li a {
        font-size: 12px;
    }

    .mega_menu_list ul,
    .main_menu .navbar-nav .nav-item .droap_menu {
        line-height: 30px;
    }

    .mega_menu_list h3 {
        font-size: 14px;
    }









    /* COMMON START */
    /* COMMON END */


}



@media (min-width: 992px) and (max-width: 1199.99px) {


    /* HOME PAGE START */
    .categories_text,
    .categories_text p {
        text-align: center;
    }

    .category_img {
        height: auto;
    }

    .add_banner_item {
        height: 465px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .single_product_banner_text {
        padding-right: 0;
        padding-left: 0;
    }

    .single_product_banner_text h2 {
        font-size: 38px;
    }

    .single_product_banner_text p {
        font-size: 18px;
        padding-left: 0;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .single_testimonial .text {
        width: 100%;
    }

    .imei_img {
        height: 420px;
    }

    .founder_testimonial_img {
        height: 415px;
    }

    .footer_logo_area {
        margin-bottom: 50px;
    }

    .category_img p {
        padding: 30px;
    }

    .payment_logo {
        margin-top: 5px;
    }

    /* HOME PAGE END */


    /* ABOUT PAGE START */

    .category_banner_img {
        height: 220px;
    }

    .about_top_banner {
        height: 280px;
    }

    .about_us_item_img {
        height: 400px;
    }

    .about_us_item_exparience {
        margin-top: 35px;
    }

    .about_item_nav {
        margin-left: 0;
    }

    .about_us_item_text {
        margin-left: 0;
    }

    .about_us_item_img_2 {
        margin-top: 30px;
    }

    .about_us_item_text_2 {
        margin-top: 30px;
    }

    .about_counter ul li h2,
    .about_counter ul li h2 span {
        font-size: 30px;
    }

    /* ABOUT PAGE END */



    /* CARRER START */

    .career_text_center {
        padding-bottom: 80px;
    }

    /* CARRER END */


    /* TEAM START */

    .team_banner_img {
        height: 300px;
    }

    .team_founders_img {
        height: 486px;
    }

    .team_founders_text {
        padding: 30px;
    }

    .team_employe .img {
        height: 550px;
    }

    /* TEAM END */


    /* FAQ START */

    .faq_accordion .accordion-button::after {
        left: -877px;
    }

    .faq_accordion .accordion-button {
        padding: 11px 12px 11px 60px;
    }

    .faq_accordion .accordion-body {
        padding: 23px 25px 32px 60px;
    }

    /* FAQ END */


    /* BLOG START */

    .single_blog_img {
        height: 300px;
    }

    /* BLOG END */


    /* CONTACT START */

    .contact_address_map {
        height: 400px;
    }

    /* CONTACT END */



    /* CHECKOUT START */

    .checkout_order_summery {
        margin-top: 30px;
    }

    /* CHECKOUT END */



    /* TEAM DETAILS START */

    .team_details_img {
        height: 500px;
    }

    /* TEAM DETAILS END */


    /* BLOG DETAILS START */

    .blog_details_img {
        height: 450px;
    }

    .blog_details_text .details_center_img {
        height: 350px;
    }

    .blog_det_input_area.mt_50 {
        margin-bottom: 30px;
    }

    /* BLOG DETAILS END */



    /* BE_FRANTHISE START */

    .be_franthise_item {
        margin-bottom: 25px;
    }

    /* BE_FRANTHISE END */



    /* CATEGORY START */

    .category_page_item {
        width: 100%;
    }

    .category_page_item .img {
        height: auto;
    }

    .category_product .single_product_img {
        height: auto;
    }

    /* CATEGORY END */

    /* PRODUCT START */
    .single_product_img {
        height: auto;
    }

    /* PRODUCT END */

    /* PRODUCT DETAILS START */
    .product_details_thumb {
        height: 830px;
    }

    .product_details_small {
        height: 150px;
    }

    .product_details_content {
        margin-top: 50px;
    }

    .details_img {
        height: 450px;
    }

    .related_product .single_product_img {
        height: 300px;
    }

    /* PRODUCT DETAILS END */


    /* DASHBOARD START */


    .order_tracking_line li::after {
        display: none;
    }

    .order_tracking_line li {
        margin-top: 20px;
    }

    .order_product_details_left .img_text {
        width: 60%;
    }

    /* DASHBOARD END */

    .add_banner_item .text {
        padding-right: 50px;
    }

    .banner {
        height: auto;
    }

    .banner #my_video {
        height: auto;
    }

    .banner .banner_slider_item {
        height: 700px;
    }








    /* COMMON START */
    /* COMMON END */

}



@media (min-width: 768px) and (max-width: 991.99px) {



    /* HOME PAGE START */
    .main_menu {
        padding: 0 10px;
    }

    .main_menu .container-fluid {
        padding: 0;
    }

    .main_menu .navbar-collapse {
        display: none;
    }

    .main_menu .navbar-brand {
        width: 150px;
    }

    .categories_text {
        text-align: center;
        padding-right: 0;
    }

    .section_heading {
        font-size: 32px;
    }

    .categories_text p {
        text-align: center;
        font-size: 16px;
    }

    .category_img {
        height: auto;
    }

    .category_img p {
        font-size: 26px;
        padding: 25px;
    }

    .add_banner_item .text h5 {
        font-size: 22px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_large_item {
        height: 95%;
    }

    .category_3_small_item {
        height: auto;
    }

    .single_product_banner_text {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 45px;
    }

    .single_product_banner_text h2 {
        text-align: center;
    }

    .single_product_banner_text p {
        text-align: center;
        font-size: 20px;
        padding-left: 0;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .brand_area li {
        width: 22%;
        height: 80px;
    }

    .imei_img {
        height: 325px;
    }

    .founder_testimonial_img {
        height: 325px;
    }

    .footer_logo_area .footer_logo {
        width: 135px;
    }

    footer {
        padding: 50px 15px 30px 15px;
    }

    .footer_logo_area ul li a,
    .footer_logo_area ul li p {
        max-width: 100%;
    }

    .footer_link,
    .footer_facebook {
        margin-top: 50px;
    }

    .progress-wrap {
        right: 20px;
    }

    .single_testimonial .text {
        width: 100%;
    }

    .add_banner_item {
        height: 360px;
    }

    .payment_logo {
        margin-top: 5px;
    }

    .footer_logo_area {
        margin-top: 45px;
    }

    /* HOME PAGE END */


    /* ABOUT PAGE START */

    .category_banner_img {
        height: 250px;
    }

    .breadcrumb {
        padding: 0px 15px;
    }

    .about_us {
        padding: 0px 15px;
    }

    .about_top_banner {
        height: 250px;
    }

    .about_us_item_exparience {
        margin-left: 0;
    }

    .about_item_nav {
        margin-left: 0;
    }

    .about_us_item_img_2 {
        margin-top: 30px;
    }

    .about_us_item_img {
        height: 400px;
    }

    .about_us_item_text_2 {
        margin-top: 30px;
    }

    .about_us_item_text {
        margin-left: 0px;
    }

    .about_counter ul li {
        width: 50%;
    }

    /* ABOUT PAGE END */


    /* CARRER START */

    .career_text_center {
        padding-bottom: 60px;
    }

    /* CARRER END */


    /* TEAM START */

    .team_banner_img {
        height: 250px;
    }

    .team_founders_img {
        height: 750px;
    }

    .team_employe .img {
        height: 280px;
    }

    /* TEAM END */


    /* FAQ START */

    .faq_accordion .accordion-button::after {
        left: -638px;
    }

    .faq_accordion .accordion-button {
        padding: 11px 12px 11px 60px;
    }

    .faq_accordion .accordion-body {
        padding: 23px 25px 32px 20px;
    }

    /* FAQ END */



    /* BLOG START */

    .single_blog {
        padding: 15px;
    }

    .single_blog_img {
        height: 220px;
    }

    /* BLOG END */


    /* CONTACT START */

    .contanct_area {
        padding: 0px 15px;
    }

    .contact_address_map {
        height: 350px;
    }

    /* CONTACT END */



    /* CHECKOUT START */

    .checkout {
        padding: 0px 15px;
    }


    .checkout_order_summery {
        margin-top: 30px;
    }

    /* CHECKOUT END */



    /* CART START */

    .shoping_cart {
        padding: 0px 15px;
    }

    /* CART END */


    /* TEAM DETAILS START */

    .team_details_img {
        height: 720px;
    }

    .team_description {
        margin-left: 0;
        margin-top: 30px;
    }

    /* TEAM DETAILS END */



    /* BLOG DETAILS START */

    .blog_details_img {
        height: 330px;
    }

    .blog_details_text h2 {
        font-size: 28px;
    }

    .blog_details_text .details_center_img {
        height: 250px;
    }

    .single_blog_det_review .text {
        width: 85%;
    }

    .single_blog_det_review.reply .text {
        width: 83%;
    }

    .blog_det_input_area.mt_50 {
        margin-bottom: 30px;
    }

    /* BLOG DETAILS END */


    /* BE_FRANTHISE START */

    .be_franthise_item {
        margin-bottom: 25px;
    }

    /* BE_FRANTHISE END */


    /* CATEGORY START */

    .category_page_item {
        width: 100%;
    }

    .category_page_item .img {
        height: auto;
    }

    .category_product .single_product_img {
        height: auto;
    }

    /* CATEGORY END */


    /* PRODUCT START */

    .product_page {
        padding: 0px 15px;
    }

    .product_sidebar {
        margin-top: 25px;
    }

    .single_product_img {
        height: auto;
    }

    /* PRODUCT END */


    /* PRODUCT DETAILS START */

    .product_details_page {
        padding: 0px 15px;
    }

    .product_details_thumb {
        height: 600px;
    }

    .product_details_content {
        margin-top: 40px;
    }


    .details_img {
        height: 360px;
    }

    .related_product .single_product_img {
        height: 310px;
    }

    /* PRODUCT DETAILS END */


    /* DASHBOARD START */

    .dashboard_right_heading .common_btn {
        margin-top: 20px;
    }

    .dashboard_sidebar {
        margin-bottom: 30px;
    }

    .order_tracking_line li::after {
        display: none;
    }

    .order_tracking_line li {
        margin-top: 20px;
    }

    .order_product_details {
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    .order_product_details_left {
        width: 100%;
    }

    .order_product_details_left .img_text {
        width: 100%;
        margin-left: 0;
    }

    .order_product_details .text {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .order_product_details_left .img {
        margin: auto;
        margin-bottom: 10px;
    }

    /* DASHBOARD END */

    .banner {
        height: auto;
    }

    .banner #my_video {
        height: auto;
    }

    .banner .banner_slider_item {
        height: 600px;
    }























    /* COMMON START */
    /* COMMON END */

}



@media (min-width: 576px) and (max-width: 767.99px) {


    /* HOME PAGE START */
    .main_menu {
        padding: 0 10px;
    }

    .main_menu .container-fluid {
        padding: 0;
    }

    .main_menu .navbar-collapse {
        display: none;
    }

    .main_menu .navbar-brand {
        width: 150px;
    }

    .categories_text {
        text-align: center;
        padding-right: 0;
    }

    .section_heading {
        font-size: 32px;
    }

    .categories_text p {
        text-align: center;
        font-size: 16px;
    }

    .categories,
    .category_3,
    .favourite_product,
    .single_product_banner,
    .showcase,
    .testimonial,
    .brand {
        padding: 0px 15px;
    }

    .category_img {
        height: auto;
    }

    .category_img p {
        font-size: 26px;
        padding: 35px;
    }

    .add_banner_item .text h5 {
        font-size: 22px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .single_product_banner_text {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 45px;
    }

    .single_product_banner_text h2 {
        text-align: center;
    }

    .single_product_banner_text p {
        text-align: center;
        font-size: 20px;
        padding-left: 0;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .brand_area li {
        width: 30%;
        height: 80px;
    }

    .imei_img {
        height: 240px;
    }

    .founder_testimonial_img {
        height: 240px;
    }

    .footer_logo_area .footer_logo {
        width: 135px;
    }

    footer {
        padding: 50px 15px 30px 15px;
    }

    .footer_logo_area ul li a,
    .footer_logo_area ul li p {
        max-width: 100%;
    }

    .footer_link,
    .footer_facebook {
        margin-top: 50px;
    }

    .progress-wrap {
        right: 20px;
    }

    .single_testimonial .text {
        width: 100%;
    }

    .add_banner_item {
        height: 270px;
    }

    .payment_logo {
        margin-top: 5px;
    }

    /* HOME PAGE END */


    /* ABOUT PAGE START */

    .category_banner_img {
        height: 230px;
    }

    .breadcrumb {
        padding: 0px 15px;
    }

    .about_us {
        padding: 0px 15px;
    }

    .about_top_banner {
        height: 230px;
    }

    .about_us_item_exparience {
        margin-left: 0;
    }

    .about_item_nav {
        margin-left: 0;
    }

    .about_us_item_img_2 {
        margin-top: 30px;
    }

    .about_us_item_img {
        height: 350px;
    }

    .about_us_item_text_2 {
        margin-top: 30px;
    }

    .about_us_item_text {
        margin-left: 0px;
    }

    .about_counter ul li {
        width: 50%;
    }

    /* ABOUT PAGE END */


    /* CARRER START */

    .career_text_center {
        padding-bottom: 40px;
    }

    .pagination ul li a {
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    /* CARRER END */


    /* TEAM START */

    .team_banner_img {
        height: 250px;
    }

    .team_founders_img {
        height: 550px;
    }

    .team_founders_text {
        padding: 30px;
    }

    .team_employe .img {
        height: 450px;
    }

    /* TEAM END */


    /* FAQ START */


    .faq_accordion .accordion-button::after {
        left: -458px;
    }

    .faq_accordion .accordion-button {
        padding: 11px 12px 11px 60px;
    }

    .faq_accordion .accordion-body {
        padding: 23px 25px 32px 20px;
    }

    /* FAQ END */



    /* BLOG START */

    .single_blog_img {
        height: 330px;
    }

    /* BLOG END */



    /* CONTACT START */

    .contanct_area {
        padding: 0px 15px;
    }

    .contact_text {
        padding: 25px 30px 30px 30px;
    }

    .contact_text h2 {
        font-size: 32px;
    }

    .contact_address {
        padding: 25px 30px 25px 25px;
    }

    .contact_address_map {
        height: 250px;
    }

    /* CONTACT END */


    /* CHECKOUT START */

    .checkout {
        padding: 0px 15px;
    }


    /* CHECKOUT END */


    /* CART START */

    .shoping_cart {
        padding: 0px 15px;
    }

    .checkout_order_summery {
        margin-top: 30px;
    }

    /* CART END */


    /* TEAM DETAILS START */

    .team_details_img {
        height: 530px;
    }

    .team_description {
        margin-left: 0;
        margin-top: 30px;
    }

    /* TEAM DETAILS END */



    /* BLOG DETAILS START */


    .blog_details_img {
        height: 250px;
    }

    .blog_details_text h2 {
        font-size: 28px;
    }

    .blog_details_text .details_center_img {
        height: 200px;
    }

    .single_blog_det_review .text {
        width: 78%;
    }

    .single_blog_det_review.reply .text {
        width: 76%;
    }

    .blog_det_input_area.mt_50 {
        margin-bottom: 30px;
    }

    /* BLOG DETAILS END */


    /* RETURN POLICY START */

    .return_policy_contant .nav-pills li {
        width: 100%;
    }

    /* RETURN POLICY END */


    /* BE_FRANTHISE START */

    .be_franthise_item {
        margin-bottom: 25px;
    }

    /* BE_FRANTHISE END */



    /* ORDER SUCCESS START */

    .order_success_header p {
        font-size: 28px;
    }

    .order_success_list table tr .details a {
        font-size: 18px;
    }

    /* ORDER SUCCESS END */


    /* CATEGORY START */

    .category_page_item .img {
        height: auto;
    }

    .category_page_item {
        width: 100%;
    }

    .category_product .single_product_img {
        height: auto;
    }

    /* CATEGORY END */



    /* PRODUCT START */

    .product_page {
        padding: 0px 15px;
    }

    .single_product_img {
        height: auto;
    }

    .product_sidebar {
        margin-top: 25px;
    }

    /* PRODUCT END */



    /* PRODUCT DETAILS START */

    .product_details_page {
        padding: 0px 15px;
    }


    .product_details_thumb {
        height: 480px;
    }

    .product_details_content .details_heading {
        font-size: 30px;
    }

    .product_details_content {
        margin-top: 40px;
    }

    .details_price .details_countdown {
        margin-top: 20px;
    }


    .details_color ul li {
        width: 88px;
        height: 88px;
    }


    .details_payment .details_payment_item {
        height: 110px;
    }

    .details_img {
        height: 260px;
    }

    .product_description_area {
        margin-bottom: 50px;
    }


    .related_product .single_product_img {
        height: 500px;
    }

    /* PRODUCT DETAILS END */


    /* DASHBOARD START */

    .dashboard_right_heading .common_btn {
        margin-top: 20px;
    }

    .dashboard_sidebar {
        margin-bottom: 30px;
    }

    .order_tracking_line li::after {
        display: none;
    }

    .order_tracking_line li {
        margin-top: 20px;
    }

    .order_product_details {
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    .order_product_details_left {
        width: 100%;
    }

    .order_product_details_left .img_text {
        width: 100%;
        margin-left: 0;
    }

    .order_product_details .text {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .order_product_details_left .img {
        margin: auto;
        margin-bottom: 10px;
    }

    /* DASHBOARD END */

    .banner {
        height: auto;
    }

    .banner .banner_slider_item a {
        height: 600px;
    }

    .categories_text a,
    .favourite_product_text a,
    .single_product_banner_text a {
        font-size: 18px;
    }

    .category_img p {
        padding: 30px;
    }

    .add_banner_item .text {
        align-items: center;
        padding-right: 0;
    }

    .add_banner_item .text {
        padding-right: 100px;
    }

    .banner #my_video {
        height: auto;
    }

    .banner .banner_slider_item {
        height: 600px;
    }




















    /* COMMON START */
    /* COMMON END */


}



@media (max-width: 575.99px) {

    /* HOME PAGE START */
    .main_menu {
        padding: 0 10px;
    }

    .main_menu .container-fluid {
        padding: 0;
    }

    .main_menu .navbar-collapse {
        display: none;
    }

    .main_menu .navbar-brand {
        width: 150px;
    }

    .categories_text {
        text-align: center;
        padding-right: 0;
    }

    .section_heading {
        font-size: 32px;
    }

    .categories_text p {
        text-align: center;
        font-size: 16px;
    }

    .categories,
    .category_3,
    .favourite_product,
    .single_product_banner,
    .showcase,
    .testimonial,
    .brand {
        padding: 0px 15px;
    }

    .category_img {
        height: auto;
    }

    .add_banner_item .text h5 {
        font-size: 22px;
    }

    .favourite_product_item .img {
        height: auto;
    }

    .category_3_large_item {
        height: auto;
    }

    .category_3_small_item {
        height: auto;
    }

    .single_product_banner_text {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 45px;
    }

    .single_product_banner_text h2 {
        text-align: center;
    }

    .single_product_banner_text p {
        text-align: center;
        font-size: 20px;
        padding-left: 0;
    }

    .single_product_thumb {
        height: auto;
    }

    .single_product_small .img {
        height: auto;
    }

    .showcase_small_item {
        height: auto;
    }

    .showcase_large_item {
        height: auto;
    }

    .single_testimonial .text ul li:first-child {
        border-right: 0;
    }

    .single_testimonial .text ul li span {
        margin-top: 15px;
    }

    .brand_area li {
        width: 45%;
        height: auto;
    }

    .imei_img {
        height: auto;
    }

    .founder_testimonial_img {
        height: auto;
    }

    .footer_logo_area .footer_logo {
        width: 135px;
    }

    footer {
        padding: 50px 15px 30px 15px;
    }

    .footer_logo_area ul li a,
    .footer_logo_area ul li p {
        max-width: 100%;
    }

    .footer_link,
    .footer_facebook {
        margin-top: 50px;
    }

    .progress-wrap {
        right: 20px;
    }

    .single_testimonial {
        padding: 20px;
    }

    .single_testimonial .text {
        width: 100%;
    }

    .add_banner_item {
        height: auto;
    }

    .payment_logo {
        margin-top: 5px;
    }

    /* HOME PAGE END */


    /* ABOUT PAGE END */

    .category_banner_img {
        height: 150px;
    }

    .breadcrumb {
        padding: 0px 15px;
    }

    .breadcrumb_item {
        gap: 20px;
    }

    .breadcrumb_item li a::after {
        right: -15px;
    }

    .breadcrumb_item li a {
        font-size: 14px;
    }

    .about_us {
        padding: 0px 15px;
    }

    .about_top_banner {
        height: auto;
    }

    .about_us_item_img {
        height: auto;
    }

    .about_us_item_exparience {
        margin-left: 0;
    }

    .about_us_item_exparience p,
    .about_us_item_exparience p span {
        font-size: 20px;
    }

    .about_us_item_exparience h2 {
        font-size: 80px;
    }

    .about_us_item_img_2 {
        margin-top: 30px;
    }

    .about_item_nav {
        margin-left: 0;
    }

    .about_us_item_text {
        margin-left: 0;
    }

    .about_item_nav .tab-content h6 {
        font-size: 16px;
    }

    .about_item_nav .tab-content h6 span {
        font-size: 16px;
    }

    .about_us_item_text_2 {
        margin-top: 30px;
    }

    .about_counter ul li {
        width: 100%;
    }

    /* ABOUT PAGE END */


    /* CARRER START */


    .single_career {
        padding: 10px 10px 15px 10px;
    }

    .single_career h2 {
        font-size: 24px;
    }

    .single_career ul li {
        margin-top: 10px;
        padding: 7px 14px;
    }

    .career_text_center {
        padding-bottom: 30px;
    }

    .pagination ul li a {
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    /* CARRER END */


    /* TEAM START */

    .team_banner_img {
        height: 150px;
    }

    .team_founders_img {
        height: auto;
    }

    .team_founders_text {
        padding: 15px;
    }

    .team_employe .img {
        height: auto;
    }

    /* TEAM END */


    /* FAQ START */


    .faq_accordion .accordion-button::after {
        left: -240px;
    }

    .faq_accordion .accordion-button {
        padding: 11px 12px 11px 50px;
    }

    .faq_accordion .accordion-body {
        padding: 23px 25px 32px 20px;
    }

    /* FAQ END */



    /* BLOG START */

    .single_blog {
        padding: 10px;
    }

    .single_blog_img {
        height: auto;
    }

    /* BLOG END */


    /* CONTACT START */

    .contanct_area {
        padding: 0px 15px;
    }

    .contact_text {
        padding: 10px;
    }

    .contact_text h2 {
        font-size: 32px;
    }

    .contact_address {
        padding: 10px;
    }

    .contact_address_map {
        height: 200px;
    }

    /* CONTACT END */



    /* CHECKOUT START */

    .checkout {
        padding: 0px 15px;
    }

    .checkout_info {
        padding: 15px 20px 20px 20px;
    }

    .checkout_info_btn .submit_btn {
        margin-right: 5px;
    }

    .checkout_order_summery {
        padding: 15px 20px 20px 20px;
        margin-top: 30px;
    }

    /* CHECKOUT END */


    /* CART START */

    .shoping_cart {
        padding: 0px 15px;
    }

    .shoping_cart_top {
        padding: 15px 20px 15px 20px;
    }

    .shoping_cart_top h4,
    .shoping_cart_top h4 span {
        font-size: 18px;
    }

    .shoping_cart_top p {
        text-align: center;
    }

    .shoping_item_deleted {
        padding: 15px 20px;
    }

    .shoping_item_deleted a {
        margin-top: 20px;
    }

    .shoping_cart_table {
        padding: 15px 20px 15px 20px;
    }

    /* CART END */


    /* TEAM DETAILS START */

    .team_details_img {
        height: auto;
    }

    .team_description {
        margin-left: 0;
        margin-top: 30px;
    }

    /* TEAM DETAILS END */



    /* BLOG DETAILS START */

    .blog_details_img {
        height: auto;
    }

    .blog_details_header .right_info {
        margin-top: 20px;
    }

    .blog_details_text h2 {
        font-size: 22px;
    }

    .blog_details_text .quot_text {
        padding: 15px 20px;
    }

    .blog_details_text .details_center_img {
        height: auto;
        margin-top: 25px;
    }

    .details_tags_share ul li a {
        font-size: 14px;
        padding: 2px 10px;
    }

    .details_tags_share .details_share {
        margin-top: 20px;
    }

    .single_blog_det_review .text h4 {
        margin-top: 20px;
    }

    .single_blog_det_review.reply {
        margin-left: 0;
    }

    .blog_det_input_area.mt_50 {
        margin-bottom: 30px;
    }

    .sidebar_wizard {
        padding: 20px;
    }

    .sidebar_post ul li .text {
        width: 60%;
    }

    /* BLOG DETAILS END */


    /* RETURN POLICY START */

    .return_policy_contant {
        padding: 22px 20px 25px 20px;
    }

    .return_policy_contant .nav-pills li {
        width: 100%;
    }

    /* RETURN POLICY END */


    /* CAREER DETAILS START */

    .career_details_area {
        padding: 0px 26px 25px 25px;
    }

    /* CAREER DETAILS END */


    /* BE_FRANTHISE START */

    .be_franthise_item {
        margin-bottom: 25px;
    }

    /* BE_FRANTHISE END */


    /* PRIVECY_TERM START */

    .privacy_terms_contant {
        padding: 0px 15px 25px 15px;
    }

    /* PRIVECY_TERM END */



    /* ORDER SUCCESS START */

    .order_success_header p {
        font-size: 28px;
    }

    .order_success_list table tr .details a {
        font-size: 18px;
    }

    .order_success_summery {
        padding: 20px;
    }

    /* ORDER SUCCESS END */




    /* CATEGORY START */


    .category_page_item {
        width: 100%;
    }

    .category_page {
        padding: 0px 15px;
    }

    .category_page_item .img {
        height: auto;
    }

    .product_top_filter ul li {
        margin-top: 20px;
    }

    .product_top_filter ul li:first-child .nice-select {
        width: 205px;
    }

    .category_product .single_product_img {
        height: auto;
    }

    .category_product {
        padding: 0px 15px;
    }

    /* CATEGORY END */



    /* PRODUCT START */

    .product_page {
        padding: 0px 15px;
        margin-top: 20px !important;
    }

    .single_product_img {
        height: auto;
    }

    .product_sidebar {
        margin-top: 25px;
    }

    /* PRODUCT END */


    /* PRODUCT DETAILS START */


    .product_details_page {
        padding: 0px 15px;
    }

    .product_details_area {
        padding: 15px;
    }

    .product_details_thumb {
        height: auto;
    }

    .product_details_small {
        height: auto;
    }

    .product_details_content .details_heading {
        font-size: 26px;
    }

    .product_details_content {
        margin-top: 30px;
    }

    .details_price h3 {
        font-size: 24px;
    }

    .details_price .details_countdown {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .details_color ul li {
        width: 70px;
        height: 70px;
    }

    .details_payment .details_payment_item {
        height: auto;
    }

    .details_btn_area li {
        width: 100%;
    }

    .product_description_area {
        padding: 15px;
        margin-bottom: 50px;
    }

    .details_img {
        height: auto;
    }

    .related_product {
        padding: 0px 15px;
    }

    .related_product .single_product_img {
        height: auto;
    }

    /* PRODUCT DETAILS END */


    /* DASHBOARD START */

    .dashboard_right_heading .common_btn {
        margin-top: 20px;
    }

    .dash_profile_info li span {
        width: 120px;
    }

    .dashboard_sidebar {
        margin-bottom: 30px;
    }

    .dashboard_right_heading h4 {
        width: 100%;
    }


    .order_tracking_line li::after {
        display: none;
    }

    .order_tracking_line li {
        margin-top: 20px;
    }

    .order_product_details {
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    .order_product_details_left {
        width: 100%;
    }

    .order_product_details_left .img_text {
        width: 100%;
        margin-left: 0;
    }

    .order_product_details .text {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .order_product_details_left .img {
        margin: auto;
        margin-bottom: 10px;
    }

    /* DASHBOARD END */



    .banner {
        height: auto;
    }

    .banner .banner_slider_item a {
        height: 500px;
    }

    .categories_text a,
    .favourite_product_text a,
    .single_product_banner_text a {
        font-size: 18px;
    }

    .category_img p {
        padding: 30px;
    }

    .add_banner_item .text {
        align-items: center;
        padding-right: 0;
    }

    .single_product_small .text a {
        font-size: 14px;
    }

    .single_product_small .text p {
        font-size: 12px;
    }

    .banner #my_video {
        height: auto;
    }

    .banner .banner_slider_item {
        height: auto;
    }

    .product_top_filter ul li p {
        min-width: 55px;
    }




    /* COMMON START */
    /* COMMON END */

}